<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">


    <title>Wanderlust - Your Timeline</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="./css/carousel.css" rel="stylesheet">
    <link href="./css/navbar.css" rel="stylesheet">
    <link href="./css/followers.css" rel="stylesheet">
    <link href="./css/album.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">WanderLust</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto navbar-center">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item ">
                    <a class="nav-link" href="./followers.html"><i class="fa fa-users" aria-hidden="true"></i> Followers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./timeline.html"><i class="fa fa-clock-o" aria-hidden="true"></i> Timeline</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="./albums.html"><i class="fa fa-picture-o" aria-hidden="true"></i> Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./discover.html"><i class="fa fa-globe" aria-hidden="true"></i> Discover</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./pinboard.html"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Pinboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./bucketlist.html"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Bucketlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./messages.html"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Messages</a>
                </li>
                <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">BucketList</a>
          </li> -->
            </ul>
            <div class="user-icon">
                <% if (user.google.token === reqUser.google.token) { %>
                    <% console.log(user.google.profile_image) %>

                    <a href="#"><img src="<%= user.google.profile_image %>" class="user-avatar" alt="admin@bootstrapmaster.com" /> <strong>Hi, <%= reqUser.google.name %></strong></a>
                <!-- <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-log-in"></span>Post</button> -->
                <!-- <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
               <% } %>
            </div>
        </div>
    </nav>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-12">

                <% if (user.google.token === reqUser.google.token) { %>

                    <section class="jumbotron text-center">
                        <div class="container">
                            <h1 class="jumbotron-heading"><%= album.title %></h1>
                            <p class="lead text-muted"><%= album.description %></p>
                            <p>
                                <a href="/new" class="btn btn-primary">Add New Photo</a>
                            </p>
                        </div>
                    </section>

                <% } %>

                <% if (user.google.token === reqUser.google.token) { %>
                    <% album.photos.forEach(function(photo, index) { %>

                        <div class="album text-muted">
                            <div class="container">

                                <div class="row">
                                    <div class="card">
                                        <img src="<%=photo.image%>" alt="Card image cap"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } %>

                <!--End Timeline -->

            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->


        <!-- FOOTER -->
        <footer>
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2017 Wanderlust, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write(
            '<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="http://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- <script src="../../../../assets/js/vendor/holder.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>


    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://v4-alpha.getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <script>
        $(function () {
            Holder.addTheme("thumb", {
                background: "#55595c",
                foreground: "#eceeef",
                text: "Thumbnail"
            });
        });
    </script>
    <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>

</html>

</body>

</html>